:root {
    /* colors */
    --primary-50: #e0fcff;
    --primary-100: #bef8fd;
    --primary-200: #87eaf2;
    --primary-300: #54d1db;
    --primary-400: #38bec9;
    --primary-500: #2cb1bc;
    --primary-600: #14919b;
    --primary-700: #0e7c86;
    --primary-800: #0a6c74;
    --primary-900: #044e54;
    --primary-50: #eff6ff;
    --primary-100: #dbeafe;
    --primary-200: #bfdbfe;
    --primary-300: #93c5fd;
    --primary-400: #60a5fa;
    --primary-500: #3b82f6;
    --primary-600: #2563eb;
    --primary-700: #1d4ed8;
    --primary-800: #1e40af;
    --primary-900: #1e3a8a;
  
    /* grey */
    --grey-50: #f0f4f8;
 ul {
    border-radius: var(--borderRadius);
    text-align: center;
    letter-spacing: var(--letterSpacing);
    text-transform: capitalize;
  }
  
  .alert-danger {
 ul {
      margin-right: 0.5rem;
    }
  }
  
  .Toastify__toast {
    text-transform: capitalize;
  }
}